{% extends 'ec/index.html' %}

{% block cart %}
    <div id="block_cart" class="cart">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h2></h2>
                </div>
                <div class="col-md-8">
                    {% if cnt == 0 %}
                        <h5>{{ cust.name }}您好:</h5>
                        <div class="bs-component">
                            <blockquote>
                                <p>您的购物车空空如也，去购物吧~~</p>
                                <small>竭诚为您服务！</small>
                            </blockquote>
                        </div>
                    {% else %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>商品</th>
                                <th>名称</th>
                                <th>数量</th>
                                <th>价格</th>
                                <th>总额</th>
                                <th>删除</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sol in sols %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td class="zoom">
                                        <a href="{% url 'prod_detail' prod_id=sol.prod_id %}">
                                            <img src="{{ sol.img_url }}" width="78px" height="78px">
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'prod_detail' prod_id=sol.prod_id %}">
                                            {{ sol.name }}
                                        </a>
                                        <div class="prod-description">
                                            {{ sol.description }}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="prod-qty-input">
                                            <input id="id_prod_id" name="prod_id" type="number" value="{{ sol.prod_id }}"
                                                   style="display:none;">
                                            <input id="id_sku_id" name="sku_id" type="number" value="{{ sol.sku_id }}"
                                                   style="display:none;">
                                            <div class="icon-add prod-qty-icon prod-qty-add" style="display:inline;">
                                                <span class="glyphicon glyphicon-plus"/>
                                            </div>
                                            <input id="id_qty" type="text" name="qyt" value="{{ sol.qty }}"/>
                                            <div {% if sol.qty <= 1  %}class="icon-del prod-qty-icon prod-qty-del disabled"{% else %}class="icon-del prod-qty-icon prod-qty-del"{% endif %} style="display:inline;">
                                                <span class="glyphicon glyphicon-minus"/>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ sol.price }}</td>
                                    <td>{{ sol.amt }}</td>
                                    <td>
                                        <input id="id_prod_id" name="prod_id" type="number" value="{{ sol.prod_id }}"
                                               style="display:none;">
                                        <input id="id_sku_id" name="sku_id" type="number" value="{{ sol.sku_id }}"
                                               style="display:none;">
                                        <div class="icon-rmv btn btn-default" style="display:inline;">
                                            <span class="glyphicon glyphicon-remove"/>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>件数:</td>
                                <td>{{ total }}</td>
                            </tr>
                            <tr>
                                <th scope="row"></th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>共计:</td>
                                <td>{{ amount }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <form action="{% url 'checkout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-default btn-check-out" style="float: right">去结算
                            </button>
                        </form>
                    {% endif %}

                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block checkout %}
{% endblock %}
