{% extends 'ec/index.html' %}

{% block activity %}
    {% include "ec/_activity_bar.html" %}
{% endblock %}

{% block checkout %}
    <div class="container checkout">
        <div class="row">
            <div class="col-md-2"><h2>结算</h2></div>
            <div class="col-md-8">
                <form class="form-horizontal"  action="{% url 'checkout_confirm' %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        <div>收货人信息</div>
                        <div>姓名 {{ cust.name }}</div>
                        <div>手机 {{ cust.mobilephone }}</div>
                        <div>配送 微信支付</div>
                        <div>地址</div>
                        <div class="form-group" id="chinaAddress">
                            <div class="form-group">
                                <label class="col-md-2 control-label">省</label>
                                <div class="col-md-10">
                                    <select class="col-md-10 form-control" id="province" name = "province" v-model="province"
                                            v-on:change="setCitiesAreas">
                                        <option v-for="province in addressList" v-bind:vlaue="province.name">
                                            {% verbatim %} {{ province.name }} {% endverbatim %}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">市</label>
                                <div class="col-md-10">
                                    <select class="col-md-2 form-control" id="city" name="city" v-model="city"
                                            v-on:change="setAreas">
                                        <option v-for="city in cities" v-bind:vlaue="city.name">
                                            {% verbatim %} {{ city.name }} {% endverbatim %}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">区/县</label>
                                <div class="col-md-10">
                                    <select class="col-md-2 form-control" id="area" name="area" v-model="area">
                                        <option v-for="area in areas" v-bind:vlaue="area">
                                            {% verbatim %} {{ area }} {% endverbatim %}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">地址</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" id="detailAddress" name="detailAddress" placeholder="详细地址">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default btn-check-out" style="float: right">确定提交</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>


    <script type="text/javascript">
        var chinaAddress = new Vue({
            el: '#chinaAddress',
            data: {
                addressList: null,
                province: '陕西',
                city: '渭南',
                area: '临渭区',
                cities: [{"name":"西安","area":["莲湖区","新城区","碑林区","雁塔区","灞桥区","未央区","阎良区","临潼区","长安区","高陵县","蓝田县","户县","周至县","其他"]},{"name":"铜川","area":["耀州区","王益区","印台区","宜君县","其他"]},{"name":"宝鸡","area":["渭滨区","金台区","陈仓区","岐山县","凤翔县","陇县","太白县","麟游县","扶风县","千阳县","眉县","凤县","其他"]},{"name":"咸阳","area":["秦都区","渭城区","杨陵区","兴平市","礼泉县","泾阳县","永寿县","三原县","彬县","旬邑县","长武县","乾县","武功县","淳化县","其他"]},{"name":"渭南","area":["临渭区","韩城市","华阴市","蒲城县","潼关县","白水县","澄城县","华县","合阳县","富平县","大荔县","其他"]},{"name":"延安","area":["宝塔区","安塞县","洛川县","子长县","黄陵县","延川县","富县","延长县","甘泉县","宜川县","志丹县","黄龙县","吴起县","其他"]},{"name":"汉中","area":["汉台区","留坝县","镇巴县","城固县","南郑县","洋县","宁强县","佛坪县","勉县","西乡县","略阳县","其他"]},{"name":"榆林","area":["榆阳区","清涧县","绥德县","神木县","佳县","府谷县","子洲县","靖边县","横山县","米脂县","吴堡县","定边县","其他"]},{"name":"安康","area":["汉滨区","紫阳县","岚皋县","旬阳县","镇坪县","平利县","石泉县","宁陕县","白河县","汉阴县","其他"]},{"name":"商洛","area":["商州区","镇安县","山阳县","洛南县","商南县","丹凤县","柞水县","其他"]},{"name":"其他","area":["其他"]}],
                areas: ["临渭区", "韩城市", "华阴市", "蒲城县", "潼关县", "白水县", "澄城县", "华县", "合阳县", "富平县", "大荔县", "其他"],
            },
            methods: {
                setCitiesAreas: function (event) {
                    console.log("change");
                    console.log(this.province);
                    for (var i = 0; i < this.addressList.length; i++) {
                        if (this.addressList[i].name == this.province) {
                            console.log('set city');
                            this.cities = this.addressList[i].city;
                            this.city = this.cities[0].name;
                            this.areas = this.cities[0].area;
                            this.area = this.areas[0];
                        }
                        //console.log(this.addressList[i].name);
                    }
                },
                setAreas: function (event) {
                    for (var i = 0; i < this.cities.length; i++) {
                        if (this.cities[i].name == this.city) {
                            this.areas = this.cities[i].area;
                            this.area = this.areas[0];
                        }
                    }
                }
            }
        })

        $.getJSON("http://static.mbailian.com/js/chinaAddress.json",function (data) {
            chinaAddress.addressList = data;
        })
    </script>
    
{% endblock %}

{% block cart %}

{% endblock %}