{% extends 'ec/index.html' %}

{% block activity %}
    {% include "ec/_activity_bar.html" %}
{% endblock %}

{% block content %}
    <div class="container order">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table table-condensed order-outline">
                    <tbody>
                        <tr>
                            <th><span>订单号:</span><span>{{ so.no }}</span></th>
                            <th><span>下单时间:</span><span>{{ so.created_date|date:"Y-m-d H:i:s"  }}</span></th>
                        </tr>
                        <tr>
                            <td><span>收件人:</span><span>{{ so.cust_name }}</span></td>
                            <td><span>联系方式:</span><span>{{ so.cust_mobilephone }}</span></td>
                        </tr>
                        <tr>
                            <td colspan="2"><span>收货地址:</span><span>{{ so.province }}省-{{ so.city }}市-{{ so.country }}-{{ so.address }}</span></td>
                        </tr>
                        <tr>
                            <td><span>支付方式:</span><span>微信支付</span></td>
                            <td><span>实付:</span><span>{{ so.amount }}</span></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table order-detail">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>商品</th>
                        <th>名称</th>
                        <th>数量</th>
                        <th>价格</th>
                        <th>总额</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sol in sols %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="{% url 'prod_detail' prod_id=sol.prod_id %}">
                                    <img src="{{ sol.img_url }}" width="78px" height="78px">
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'prod_detail' prod_id=sol.prod_id %}">
                                    {{ sol.name }}
                                </a>
                                <div class="prod-description">
                                    {{ sol.description }}
                                </div>
                            </td>
                            <td>{{ sol.qty }}</td>
                            <td>{{ sol.price }}</td>
                            <td>{{ sol.amt }}</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>件数:</td>
                        <td>{{ so.total }}</td>
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>共计:</td>
                        <td>{{ so.amount }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}
