{% extends 'ec/index.html' %}


{% block sos %}
<div class="container orders">
    <div class="row">
        <div class="col-md-2"><h2>订单</h2></div>
        <div class="col-md-8">
            {% if cnt == 0 %}
                <h5>{{ cust.name }}您好:</h5>
                <div class="bs-component">
                    <blockquote>
                        <p>您还没有订单信息，去购物吧~~</p>
                        <small>竭诚为您服务</small>
                    </blockquote>
                </div>
            {% else %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>订单号</th>
                            <th>客户姓名</th>
                            <th>客户手机</th>
                            <th>件数</th>
                            <th>总额</th>
                            <th>创建时间</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for so in sos %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                <a href="{% url 'order_detail' so_id=so.id %}">
                                    {{ so.id }}
                                </a>
                            </td>
                            <td>{{ so.cust_name }}</td>
                            <td>{{ so.cust_mobilephone }}</td>
                            <td>{{ so.total }}</td>
                            <td>{{ so.amount }}</td>
                            <td>{{ so.created_date|date:"Y-m-d H:i:s"  }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
