{% extends 'ec/index.html' %}

{% block message %}
    {% include "ec/_add_to_cart_message.html" %}
{% endblock %}

{% block prods %}
    <div class="container">
        {% if cnt == 0 %}
            <div class="row">
                <h5>您好:</h5>
                <div class="bs-component">
                    <blockquote>
                        <p>您要的商品还未上架，加马备货中...先去看看别的商品吧~~</p>
                        <small>竭诚为您服务！</small>
                    </blockquote>
                </div>
            </div>
        {% else %}
            <div class="row">
            {% for prod in prods %}
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 text-center" >
                    <div class="prod">
                        <div class="zoom">
                            <a href="{% url 'prod_detail' prod_id=prod.id %}">
                                <img class="responsive-img" src="{{ prod.img_url }}" width="245" height="245">
                            </a>
                        </div>
                        <div class="title">
                            <h4 class="title"><a href="{% url 'prod_detail' prod_id=prod.id %}">{{ prod.title }}</a></h4>
                        </div>
                        <div>
                            <p class="price"><span>¥</span><span>{{ prod.price }}</span></p>
                        </div>
                        <div>
                            <hr>
                            <p class="desc">{{ prod.description }}</p>
                        </div>

                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}