{% extends 'ec/index.html' %}

{% block message %}
    {% include "ec/_add_to_cart_message.html" %}
{% endblock %}

{% block prods %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="prod-title">
                    <a href="{% url 'prod_detail' prod_id=prod.id %}">{{ prod.title }}</a>
                </div>
            </div>
        </div>
        <div class="row prod">
            <div class="col-xs-12 col-sm-12 col-md-1"></div>

            <div class="col-xs-12 col-sm-12 col-md-5">
                <div class="prod-img-m">
                    <img src="{{ prod.img_m }}" width="430" height="430">
                </div>
            </div>

            {% if prod_thumbs != 0 %}
                <div class="col-xs-12 col-sm-12 col-md-2 visible-lg visible-md slide" style="max-width: 78px; margin-right: 68px">
                    <ul>
                        {% for prod_thumb in prod_thumbs %}
                            <li class="prod-slide-thumb"><a><img src="{{ prod_thumb.img}}" width="78" height="78"></a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="col-xs-12 col-md-4">
                <div class="prod-title">
                    <a href="{% url 'prod_detail' prod_id=prod.id %}"><h4><strong>{{ prod.title }}</strong></h4></a>
                </div>
                <div class="prod-description">
                    {{ prod.description }}
                </div>
                <div class="prod-id">
                    商品编号:<strong>{{ prod.id }}</strong>
                </div>
                <div class="prod-color">
                    颜色:<strong>{{ prod.color }}</strong>
                </div>
                <div class="prod-spec">
                    规格:<strong>{{ prod.spec }}</strong>
                </div>
                <div class="prod-size">
                    型号:<strong>{{ prod.size }}</strong>
                </div>
                <div class="prod-ship">
                    支付方式:<strong>货到付款</strong>
                </div>
                <div class="prod-qty">
                    <h5>库存:<strong>{{ prod.qty }}</strong></h5>
                </div>
                <div class="prod-price">
                    <h2>￥:{{ prod.price }}</h2>
                </div>
                <div>{% include "ec/_add_to_cart_form.html" %}</div>
            </div>
        </div>
    </div>

    {% if prod_details != 0 %}
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-10">
                {% for prod_detail in prod_details %}
                    <img src="{{ prod_detail.img}}">
                {% endfor %}
            </div>
        </div>
    {% endif %}

{% endblock %}