{% extends 'ec/index.html' %}

{% block message %}
    {% include "ec/_add_to_cart_message.html" %}
{% endblock %}

{% block prods %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="prod-title">
                    <a href="{% url 'prod_detail' prod_id=prod.id %}">{{ prod.title }}</a>
                </div>
            </div>
        </div>
        <div class="row prod">
            <div class="col-xs-12 col-sm-12 col-md-1"></div>

            <div class="col-xs-12 col-sm-12 col-md-5">
                <div class="prod-img-m zoom">
                    <img class="responsive-img" src="{{ prod.img_url }}" width="430" height="430">
                </div>
            </div>

            {% if prod_thumbs != 0 %}
                <div class="col-xs-12 col-sm-12 col-md-2 visible-lg visible-md slide" style="max-width: 78px; margin-right: 68px">
                    <ul>
                        {% for prod_thumb in prod_thumbs %}
                            <li class="prod-slide-thumb zoom"><a><img src="{{ prod_thumb.img_url}}" width="78" height="78"></a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="col-xs-12 col-md-4">
                <div class="prod-title">
                    <a href="{% url 'prod_detail' prod_id=prod.id %}"><h4><strong>{{ prod.title }}</strong></h4></a>
                </div>
                <div class="prod-description">
                    {{ prod.description }}
                </div>
                <div class="prod-id">
                    商品编号:<strong>{{ prod.id }}</strong>
                </div>
                <div class="prod-ship">
                    支付方式:<strong>货到付款</strong>
                </div>
                {% if prod_pvs != 0 %}
                    <div class="properties">
                        {% for prod_pv in prod_pvs%}
                            <div class="property">
                                <span class="p-name">{{ prod_pv.name }}</span>
                                <div class="property-values">
                                    <ul class="values">
                                        {% for value in prod_pv.values %}
                                            {% if value.img_url %}
                                                <li class="value">
                                                    <a class="tab"><img src="{{ value.img_url }}"></a>
                                                </li>
                                            {% else %}
                                                <li class="value">
                                                    <a><span>{{ value.name }}</span></a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="prod-qty">
                    <h5><span>库存:<strong>{{ prod.qty }}</strong></span></h5>
                </div>
                <div class="prod-price">
                    <h2>￥:{{ prod.price }}</h2>
                </div>
                <div>{% include "ec/_add_to_cart_form.html" %}</div>
            </div>
        </div>
    </div>

    {% if prod_details != 0 %}
        <div class="container">
            <div class="col-xs-12 col-sm-12 col-md-2"></div>
            <div class="col-xs-12 col-sm-12 col-md-10">
                <div class="prod-details">
                    {% for prod_detail in prod_details %}
                        <img class="responsive-img" src="{{ prod_detail.img_url}}">
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}