{% extends 'ec/index.html' %}

{% block message %}
    {% include "ec/_add_to_cart_message.html" %}
{% endblock %}

{% block prods %}
<div class="container">
    <div class="row prod">
        <div class="col-xs-12 col-sm-6 col-md-2"></div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="prod-title">
                <a href="{% url 'prod_detail' prod_id=prod.id %}">{{ prod.title }}</a>
            </div>
            <div class="prod-img-m">
                <img src="{{ prod.img_m }}">
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="prod-title">
                <a href="{% url 'prod_detail' prod_id=prod.id %}"><h4>{{ prod.title }}</h4></a>
            </div>
            <div class="prod-description">
                <h5>{{ prod.description }}</h5>
            </div>
            <div class="prod-color">
                <h5>颜色:<strong>{{ prod.color }}</strong></h5>
            </div>
            <div class="prod-size">
                <h5>型号:<strong>{{ prod.size }}</strong></h5>
            </div>
            <div class="prod-ship">
                <h5>支付方式:<strong>货到付款</strong></h5>
            </div>
            <div class="prod-qty">
                <h5>库存:<strong>{{ prod.qty }}</strong></h5>
            </div>
            <div class="prod-price">
                <h2>￥:{{ prod.price }}</h2>
            </div>
            <div>{% include "ec/_add_to_cart_form.html" %}</div>
        </div>
    </div>
</div>
{% endblock %}