{% extends 'ec/index.html' %}

{% block activity %}
    {% include "ec/_activity_bar.html" %}
{% endblock %}

{% block content %}
    <div class="container-fluid text-center wxpay">
        <div class="row">
            <div id="wxpay-info">
                <div id="order-info">
                    <div><span>订单号：</span><span>{{ so.id }}</span></div>
                    <div><span>总额：</span><span>{{ so.amount }}</span></div>
                </div>
                <img id="wxpay-logo" src="http://static.mbailian.com/img/wxpay_logo.png">
                <img id="wxpay-qrcode" src="{% url 'ec:generate_wxpay_qrcode' order_id=so.id %}">
                <img id="wxpay-tip" src="http://static.mbailian.com/img/wxpay_tip.png">
            </div>
        </div>
    </div>
    <script>
    function get_order_status() {
        $.get("{% url 'ec:check_wxpay_result' order_id=so.id %}", function(data,status){
             if (data == 1){
                 window.clearInterval(t1);
                 console.log('paied');
                 window.location.href="{% url 'ec:checkout_end' order_id=so.id %}";
             }else{
                 console.log('not paied');
             }
         });
    }
    var t1 = window.setInterval(get_order_status,1000);
    </script>
{% endblock %}