{% extends 'fec/index.html' %}

{% block activity %}
{% endblock %}

{% block login %}
    <div class="container login">
        <div class="row">
            <div id="login">
                <form class="form-horizontal" method="post" action="{% url 'login' %}">
                    {% if form.errors %}
                        <p class="alert alert-info" align="center">密码或用户名错误！</p>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">用户名：</label>
                        <div class="col-sm-8">{{ form.username }}</div>
                    </div>
                    <div class="form-group">
                        <label for="passowrd" class="col-sm-4 control-label">密码：</label>
                        <div class="col-sm-8">{{ form.password }}</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" value="login" class="btn btn-default" style="width: 195px">登陆</button>
                            <input type="hidden" name="next" value="/">
                            <!--
                                <input type="hidden" name="next" value="/prod_list">
                            -->
                        </div>
                        <div class="col-sm-offset-4 col-sm-8">
                            <a href="{% url 'register_step1' %}">去注册>></a>
                        </div>
                        <div class="col-sm-offset-4 col-sm-8">
                            <a href="{% url 'reset_password_step1' %}">忘记密码>></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}