{% extends 'fec/index.html' %}

{% block register %}
    <div class="container register">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                {% if msg %}
                    <p class="alert alert-info">{{ msg }}</p>
                {% endif %}
                <div id="register">
                    <form class="form-horizontal" method="post" action="{% url 'register_step2' %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">填写手机验证码：</label>
                            <div class="col-sm-10"><input id="verifycode" name="verifycode" type="text" placeholder="手机验证码"></div>
                            <div class="col-sm-10"><input id="mobilephone" name="mobilephone" value="{{ mobilephone }}" type="hidden"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" value="register" class="btn btn-default">下一步</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}