{% extends 'fec/index.html' %}

{% block register %}
    <div class="container register">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                {% if msg %}
                    <p class="alert alert-info">{{ msg }}</p>
                {% endif %}
                <div id="register">
                    <form class="form-horizontal" method="post" action="{% url 'register_step1' %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="mobilephone" class="col-sm-2 control-label">手机号码：</label>
                            <div class="col-sm-10">
                                <input id="mobilephone" maxlength="30" name="mobilephone" type="text">
                                {% if exist %}
                                     <a href="{% url 'reset_password_step1' %}">忘记密码>></a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" value="register_step1" class="btn btn-default">下一步</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}