{% extends 'fec/register.html' %}

{% block register %}
    <div class="container register">
        <div class="row">
            <div id="reset_password">
                <form class="form-horizontal" method="post" action="{% url 'reset_password_step2' %}">
                    {% if msg %}
                        <p class="alert alert-info" align="center">{{ msg }}</p>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">用户名：</label>
                        <div class="col-sm-8"><input id="username" class="form-control" name="username" type="text" placeholder="用户名/已验证手机号"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" value="reset_password_step1" class="btn btn-default">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}