{% extends 'fec/register.html' %}

{% block register %}
    <div class="container register">
        <div class="row">
            <div id="reset_password">
                <form class="form-horizontal" method="post" action="{% url 'reset_password_step3' %}">
                    <p class="alert alert-info" style="display:none"></p>
                    {% if msg %}
                        <p class="alert alert-info" align="center">{{ msg }}</p>
                    {% endif %}
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">验证身份方式：</label>
                        <div class="col-sm-8">已验证手机</div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">已验证手机号：</label>
                        <div class="col-sm-8"><strong>{{ mobilephone }}</strong></div>
                        <div class="col-sm-8"><a>若该号码无法使用，请联系客服</a></div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="col-sm-4 control-label">填写手机验证码：</label>
                        <div class="col-sm-8"><input id="verifycode" class="form-control" name="verifycode" type="text" placeholder="手机验证码" disabled><a href="javascript:send_verifycode('{{ mobilephone_md5 }}');" id="get_verifycode" class="btn btn-default">获取短信验证码</a></div>
                        <div class="col-sm-8"><input id="mobilephone" class="form-control" name="mobilephone" value="{{ mobilephone_md5 }}" type="hidden"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button type="submit" value="reset_password_step3" class="btn btn-default">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}