{% extends 'fec/index.html' %}

{% block register %}
    <div class="container register">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <p class="alert alert-info" style="display:none"></p>
                {% if msg %}
                    <p class="alert alert-info">{{ msg }}</p>
                {% endif %}
                <div id="reset_password">
                    <form class="form-horizontal" method="post" action="{% url 'reset_password_step3' %}">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">验证身份方式：</label>
                            <div class="col-sm-10">已验证手机</div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">已验证手机号：</label>
                            <div class="col-sm-10"><strong>{{ mobilephone }}</strong> <a>若该号码无法使用，请联系客服</a></div>
                        </div>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">填写手机验证码：</label>
                            <div class="col-sm-10"><input id="verifycode" name="verifycode" type="text" placeholder="手机验证码" disabled><a href="javascript:send_verifycode('{{ mobilephone_md5 }}');" id="get_verifycode" class="btn btn-default">获取短信验证码</a></div>
                            <div class="col-sm-10"><input id="mobilephone" name="mobilephone" value="{{ mobilephone_md5 }}" type="hidden"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" value="reset_password_step3" class="btn btn-default">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function send_verifycode(mobilephone) {
            $("#verifycode").removeAttr("disabled");
            console.log(mobilephone);
            $.post("/send_verifycode/", {'mobilephone':mobilephone}, function(ret){
                $(".alert").html(ret);
                $(".alert").css('display','block');
            });
        }
    </script>
{% endblock %}