{% extends 'fec/register.html' %}

{% block register %}
    <div class="container register">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8">

                <div id="reset_password">
                    <form class="form-horizontal" method="post" action="{% url 'reset_password_step4' %}">
                        {% if form.new_password2.errors %}
                            <p class="alert alert-info" align="center">两次密码不一致！</p>
                        {% endif %}
                        {% csrf_token %}
                        <input id="user_id" name="user_id" value="{{ user_id }}" type="hidden">
                        <div class="form-group">
                            <label for="passowrd1" class="col-sm-4 control-label">新密码：</label>
                            <div class="col-sm-8">{{ form.new_password1 }}</div>
                        </div>
                        <div class="form-group">
                            <label for="passowrd2" class="col-sm-4 control-label">确认密码：</label>
                            <div class="col-sm-8">{{ form.new_password2 }}</div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <button type="submit" value="reset_password" class="btn btn-default">重置</button>
                                 <!--
                                    <input type="hidden" name="next" value="{% url 'login' %}">
                                -->
                                <!--
                                    <input type="hidden" name="next" value="/prod_list">
                                -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}